<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:Value="http://schemas.android.com/apk/res-auto"
    package="sudo_dev.dialpadtalking"
    android:targetSandboxVersion="1"
    tools:targetApi="o">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:name=".advert.AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/call"
        android:label="Dialpad"
        android:roundIcon="@mipmap/call"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About_ME"
            android:showForAllUsers="true"
            tools:targetApi="m" />
        <activity android:name=".MainAct" />
        <activity
            android:name=".InsertCallLog"
            android:showForAllUsers="true"
            tools:targetApi="m" />
        <activity android:name=".Missedcall" />
        <activity android:name=".mainph" />
        <activity android:name=".PhoneBook" />
        <activity android:name=".privacy"></activity>
    </application>

</manifest>